$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
//endbower

body {
	background: url('../images/bg.png')
}
$zero-radius:0;

code, kbd, pre {
    border-radius: $zero-radius;
}
.img-thumbnail, .form-control, .input-sm, .form-horizontal .form-group-sm .form-control, .input-lg, .form-horizontal .form-group-lg .form-control, .btn, .btn-lg, .btn-group-lg > .btn, .btn-sm, .btn-group-sm > .btn, .btn-xs, .btn-group-xs > .btn, .dropdown-menu, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-group-addon, .input-group-addon.input-sm, .input-group-addon.input-lg, .nav-tabs > li > a, .nav-tabs.nav-justified > li > a, .nav-pills > li > a, li > a, .navbar-toggle, .navbar-toggle .icon-bar, .breadcrumb, .pagination, .pager li > a, .pager li > span, .label, .badge, .container .jumbotron, .thumbnail, .alert, .progress, .panel, .panel-group .panel, .well, .well-lg, .well-sm, .modal-content, .tooltip-inner, .popover, .popover-title, .carousel-indicators li {
    border-radius: $zero-radius;
}
@media (min-width:768px) {
    .nav-tabs.nav-justified > li > a, .nav-tabs-justified > li > a, .navbar {
        border-radius: $zero-radius;
    }
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: $zero-radius;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: $zero-radius;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: $zero-radius;
    border-bottom-left-radius: $zero-radius;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: $zero-radius;
    border-bottom-right-radius: $zero-radius;
}
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-top-left-radius: $zero-radius;
    border-bottom-left-radius: $zero-radius;
}
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-top-right-radius: $zero-radius;
    border-bottom-right-radius: $zero-radius;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: $zero-radius;
    border-bottom-left-radius: $zero-radius;
}
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-top-right-radius: $zero-radius;
    border-bottom-right-radius: $zero-radius;
}
.list-group-item:first-child {
    border-top-left-radius: $zero-radius;
    border-top-right-radius: $zero-radius;
}
.list-group-item:last-child {
    border-bottom-right-radius: $zero-radius;
    border-bottom-left-radius: $zero-radius;
}
.panel-heading {
    border-top-left-radius: $zero-radius;
    border-top-right-radius: $zero-radius;
}
.panel-footer {
    border-bottom-right-radius: $zero-radius;
    border-bottom-left-radius: $zero-radius;
}
.panel > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: $zero-radius;
    border-top-right-radius: $zero-radius;
}
.panel > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: $zero-radius;
    border-bottom-left-radius: $zero-radius;
}
.panel > .table:first-child, .panel > .table-responsive:first-child > .table:first-child {
    border-top-left-radius: $zero-radius;
    border-top-right-radius: $zero-radius;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: $zero-radius;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: $zero-radius;
}
.panel > .table:last-child, .panel > .table-responsive:last-child > .table:last-child {
    border-bottom-right-radius: $zero-radius;
    border-bottom-left-radius: $zero-radius;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: $zero-radius;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: $zero-radius;
}
hr{
	border-top: 1px solid #ccc;
}
.header{
	background: #FFF;
	padding: 15px;
}
